* {
    font-family: 'Poppins', sans-serif;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

#title, footer {
    position: absolute;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 2;
}

#title {
    top: 50px;
}

footer {
    bottom: 50px;
    font-size: 1rem;
    font-weight: normal;
}

swiper-container {
    box-sizing: content-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 1em;
    z-index: 1;
    color: #FFF;
    border-radius: 10px;
    box-shadow: 7px 9px 10px #00000023;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 1.5em;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #c6c6c6;
}


/*Form and Buttoons*/
form {
    position: relative;
    height: 2.75em;
}

.inpSearch, .nextPokemon, .prevPokemon, .randomPokemon {
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 7px 6px 10px #00000028;
    transition: all 0.2s;
}

.inpSearch {
    padding: 0 3.2em 0 1.5em;
    height: 100%;
}

form div {
    position: absolute;
    top: 35%;
    right: 1em;
    color: #000000;
}

.autocomplete-list {
    display: none;
    flex-direction: column;
    background-color: #FFF;
    color: #000;
    border-radius: 0 0 10px 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.autocomplete-list li {
    padding: 0.5em;
    transition: all 0.2s;
}

.autocomplete-list li:hover {
    transform: scale(1.2);
}

.removeShadow {
    border-radius: 10px 10px 0 0;
    box-shadow: none;
}

.buttons-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5em;
}

.nextPokemon, .prevPokemon {
    padding: 0.75em 2em;
    width: 47%;
    background-color: #FFF;
    font-size: 1rem;
}

.randomPokemon {
    padding: 0.25rem 1rem;
}

.buttons-box button:active {
    border: none;
    background-color: #cccccc;
    color: #FFF;
    transform: scale(1.1);
}

#balloon {
    display: none;
    position: absolute;
    border-radius: 10px 10px 10px 0;
    width: 82px;
    padding: 1em;
    background-color: #3e3e3e;
    color: #FFF;
    font-weight: 500;
    right: -100px;
    top: -40px;
}


/*PokeCards*/
bold {
    font-weight: bold;
}

.in-row {
    display: flex;
    gap: 1em;
}

.poke-name {
    font-size: 0.9rem;
}

.background-img {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e48e;
    border-radius: 100px;
    width: 96px;
    height: 96px;
    padding: 1em;
    box-shadow: 5px 7px 8px #00000028;
}

.poke-img, .poke-imgShiny {
    justify-self: center;
    align-self: center;
}

.poke-data1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: 1rem;
    text-transform: capitalize;
}

.poke-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    font-size: 0.8rem;
    text-transform: capitalize;
}

.poke-type1, .poke-type2 {
    width: 24px;
    border-radius: 1000px;
    box-shadow: 1px 7px 13px #0000002b;
}

.background-desc {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e48e;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 5px 7px 8px #00000028;
}

.poke-description {
    font-size: 0.65rem;
    line-height: 1.75em;
    text-align: justify;
}


@media (max-width: 600px) {
    swiper-container, .container {
        width: 250px;
    }
}

@media (min-height: 750px) {
    #title {
        top: 100px;
    }

    footer {
        bottom: 100px;
    }
}