* {
    font-family: 'Poppins', sans-serif;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

#title {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
}

swiper-container {
    box-sizing: content-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 1em;
    z-index: 1;
    color: #FFF;
}

.container {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 2em;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #c6c6c6;
    box-shadow: 7px 9px 10px #00000023;
}

footer {
    position: absolute;
}


form {
    position: relative;
    height: 2.75em;
}

.inpSearch, #buttons-box button {
    box-sizing: border-box;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    height: 100%;
    padding: 0 3.2em 0 1.5em;
    box-shadow: 7px 6px 10px #00000028;
}

form div {
    position: absolute;
    top: 35%;
    right: 1em;
    color: #000000;
}


.autocomplete-list {
    display: none;
    flex-direction: column;
    background-color: #FFF;
    color: #000;
    border-radius: 0 0 10px 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.autocomplete-list li {
    padding: 0.5em;
    transition: all 0.2s;
}

.autocomplete-list li:hover {
    transform: scale(1.2);
}

.removeShadow {
    border-radius: 10px 10px 0 0;
    box-shadow: none;
}

.in-row {
    display: flex;
    gap: 1em;
}

.poke-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-transform: capitalize;
}

.background-img {
    display: flex;
    justify-self: center;
    justify-content: center;
    /*align-items: center;*/
    background-color: #e4e4e48e;
    border-radius: 100px;
    width: 96px;
    height: 96px;
    padding: 1em;
    /*box-shadow: 5px 7px 8px #00000028;*/
}

.poke-img, .poke-imgShiny {
    justify-self: center;
    align-self: center;
}

.poke-number {
    font-weight: 600;
}

.poke-number::before {
    content: '#';
}

.poke-type1, .poke-type2 {
    width: 24px;
}

.poke-extra-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
    font-size: 0.9rem;
}

.poke-weight::before {
    content: 'Weight: ';
    font-weight: bold;
}

.poke-height::before {
    content: 'Height: ';
    font-weight: bold;
}

.poke-ability1::before {
    content: 'Ability 1: ';
    font-weight: bold;
}

.poke-ability2::before {
    content: 'Ability 2: ';
    font-weight: bold;
}

.poke-experience::before {
    content: 'Base experience: ';
    font-weight: bold;
}


#balloon {
    display: none;
    position: absolute;
    border-radius: 10px 10px 10px 0;
    width: 82px;
    padding: 1em;
    background-color: #3e3e3e;
    color: #FFF;
    font-weight: 500;
    right: -100px;
    top: -40px;
}

#buttons-box {
    display: flex;
    justify-content: space-between;
}

#buttons-box button {
    padding: 0.75em 2em;
    width: 47%;
    background-color: #FFF;
    font-size: 1rem;
}

#buttons-box button:active {
    border: none;
    background-color: #cccccc;
    color: #FFF;
    transform: scale(1.1);
}